In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('appointment_data.csv')


data

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [3]:
y= data['No-show']
y

0         No
1         No
2        Yes
3         No
4         No
        ...
88416     No
88417     No
88418     No
88419     No
88420     No
Name: No-show, Length: 88421, dtype: object

In [4]:
X= data.drop('No-show',axis=1)
X

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [5]:
#Train/Test Split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.2)

In [6]:
train_X.insert(0,train_y.name,train_y)
train_X

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
38990,No,1.574235e+13,5665080,F,2016-05-05T13:55:19Z,2016-05-10T00:00:00Z,45,CONSOLAÇÃO,0,0,0,0,0,0
67088,Yes,3.645216e+11,5682589,M,2016-05-10T17:22:28Z,2016-05-17T00:00:00Z,9,TABUAZEIRO,1,0,0,0,0,0
87257,No,6.811874e+13,5628022,F,2016-04-27T10:19:59Z,2016-05-19T00:00:00Z,31,SEGURANÇA DO LAR,0,0,0,0,0,0
18258,No,5.932374e+13,5722159,M,2016-05-20T07:07:17Z,2016-05-25T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,1
43842,No,2.362523e+12,5718371,F,2016-05-19T09:20:41Z,2016-05-19T00:00:00Z,4,MARIA ORTIZ,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38123,No,9.428566e+12,5701435,M,2016-05-16T10:32:06Z,2016-05-30T00:00:00Z,1,JABOUR,0,0,0,0,0,1
83088,No,6.387253e+09,5732900,F,2016-05-24T12:54:30Z,2016-06-08T00:00:00Z,33,CENTRO,0,0,0,0,0,1
75823,No,3.771137e+13,5692128,F,2016-05-12T14:29:24Z,2016-06-07T00:00:00Z,22,BELA VISTA,0,0,0,0,0,1
62620,No,8.524478e+13,5726297,F,2016-05-20T13:28:05Z,2016-05-20T00:00:00Z,69,DO CABRAL,0,1,1,0,0,0
78256,No,7.745988e+12,5741998,F,2016-05-30T07:38:06Z,2016-05-30T00:00:00Z,61,ROMÃO,0,1,0,0,0,0

In [7]:
test_X.insert(0,test_y.name, test_y)
test_X

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
23744,Yes,5.527844e+14,5701540,F,2016-05-16T10:41:05Z,2016-05-18T00:00:00Z,39,BONFIM,0,0,0,0,0,0
50593,Yes,2.162982e+11,5694437,M,2016-05-13T08:38:50Z,2016-05-13T00:00:00Z,17,CARATOÍRA,0,0,0,0,0,0
39449,No,2.195284e+11,5766624,F,2016-06-02T15:27:47Z,2016-06-02T00:00:00Z,42,SANTA MARTHA,0,0,0,0,0,0
13926,Yes,9.874569e+14,5673584,F,2016-05-09T09:35:37Z,2016-06-07T00:00:00Z,73,JABOUR,0,0,0,0,0,1
58601,Yes,5.229999e+14,5704847,M,2016-05-16T16:49:05Z,2016-06-03T00:00:00Z,15,CARATOÍRA,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62004,No,8.894278e+13,5710731,F,2016-05-17T17:42:42Z,2016-05-31T00:00:00Z,23,MONTE BELO,0,0,0,0,0,1
58742,No,5.463136e+13,5772430,F,2016-06-03T15:24:02Z,2016-06-07T00:00:00Z,37,CARATOÍRA,0,0,0,0,0,1
77025,No,1.336493e+13,5740964,M,2016-05-25T16:46:03Z,2016-05-25T00:00:00Z,59,MARIA ORTIZ,0,0,0,0,0,0
35236,No,3.416914e+12,5647621,F,2016-05-02T14:03:26Z,2016-05-31T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,1
55252,No,6.774477e+11,5621281,F,2016-04-26T10:05:56Z,2016-05-12T00:00:00Z,73,JARDIM DA PENHA,0,1,0,0,0,1

In [8]:
train_X.to_csv('train.csv',index=0)

In [9]:
test_X.to_csv('test.csv',index=0)